$grey-100: hsl(0, 0%, 46%);
$grey-200: hsl(0, 0%, 90%);

$black-50: hsl(0, 0%, 3%);
$black-100: hsl(0, 0%, 10%);
$black-200: hsl(0, 0%, 16%);

$green-100: hsl(118, 71%, 31%);
$green-200: hsl(119, 80%, 25%);

$white: hsl(0, 0%, 100%);
