@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin col {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@mixin row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


