.post {
}

.img {

}

.subtitle {
  font-weight: 400;
  opacity: 0.54;
}

.title {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  opacity: 0.84;
}

.user {
}

.userInfo {
  display: flex;
}
.avatar {
  border-radius: 50%;
}
.name {
  opacity: 0.84;
}
.date {
  opacity: 0.54;
}
