.nav {
  padding-top: 10px;
}

.link {
  color: white;
  opacity: 0.98;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.linklist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.25;
}
