$enable-caret: false;
@import "bootstrap/scss/bootstrap.scss";
@import "react-multi-carousel/lib/styles.css";

.pointer {
  cursor: pointer;
}

.card,
.card-header,
.card-body,
.list-group-item,
.btn {
  border: none;
}

.bg-inherit {
  background-color: inherit;
}

.dropdown-toggle {
  background-color: inherit;
  padding: 0;
  &:focus,
  &:hover,
  &:active {
    background-color: inherit !important;
  }
}

.nav-tabs {
  .nav-item {
    border: none;
    color: rgb(141, 141, 141);
    &.active {
      font-weight: bold;
      border-bottom: 1px solid black;
    }
  }
}

.tab-pane {
  padding: 30px;
}

p {
  margin: 0;
  padding: 0;
}

.bg-yellow {
  background-color: #FFC017;
}