.container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  position: relative;
  padding-top: 20px;
}

.title {
  font-size: 28px;
  width: 320px;
  color: hsl(0, 0%, 3%);
}

.subtitle {
  font-size: 18px;
}

.option {
  margin: 0 0 16px;
  padding: 24px;
  border: 1px solid black;
  border-radius: 3px;
  width: 572px;
  &:hover {
    border: 1px solid black;
  }
}

.frequency {
  font-weight: bold;
}
